{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/airbnb"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "import/extensions": ["error", "always", {
      "js": "never",
      "vue": "never"
    }],
    "no-param-reassign": [2, { "props": false }],
    "prefer-template": "off",
    "no-unused-vars":0,
    "linebreak-style": [0, "error", "windows"],
    "camelcase": "off",
    "max-len": ["error", { "code": 300 }],
    "prefer-destructuring": ["error", {
      "array": false,
      "object": false
    }, {
      "enforceForRenamedProperties": false
    }],
    "semi": [0],
    "no-underscore-dangle": 0,
    "import/first": ["error", "DISABLE-absolute-first"]
  }
}